<tr>
  <td>
      <%= post.id %>
  </td>
  <td>
      <%= post.date.to_formatted_s(:long) %>
  </td>
  <td>
      <%= truncate(post.rationale) %>
  </td>
  <td>
      <%= post.user.full_name %>
  </td>
  <td>
    <%= link_to "Edit", edit_post_path(post), id: "edit_#{post.id}" %>
  </td>
</tr>
